@model IEnumerable<OnlineRestaurant.Web.Models.FoodCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;color:darkorchid;">Food Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table"  style="background-color:beige;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
